@font-face {
  font-family: 'FuenteTitulo';
  src: url(Fuentes/CinzelDecorative-Black.ttf) format('truetype');
}

@font-face {
  font-family: 'FuenteTitulo2';
  src: url(Fuentes/Anton-Regular.ttf) format('truetype');
}

body{
  background: #020416;
  margin:0;
  padding: 0;
  font-family: cursive;
  height: 100%;
  overflow-x: hidden;
}

header{
  color:#fff;
  padding: 0 2%;
  display: flex;
  justify-content: space-between; /*centramos la navegacion*/
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('Portadas/portada_carga.png');
}

.fotoCarga{
  animation: tilt 1s infinite alternate;
  transform-origin: center;
}

@keyframes tilt {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.loader-inner {
  border: 4px solid #d69d9d;
  border-top: 4px solid #a30808;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
  margin-top: 8px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


a {
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
  display: inline-block;
}

a.active {
  border-width: 0px;
  transform: scale(1.1);
  border-bottom: ridge;
  color: #ffb300 !important;
}

.nav-checkbox{
  display: none;
}

.nav-btn{
  display: none;
  cursor: pointer;
}

.nav-btn span{
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin: 4px 0;
  display: block;
}

.tex1{
  font-size: 100%;
  color: black;
}

.icono{
  width: 21px;  
  top: 3px;
  position: relative;
  filter: drop-shadow(0 0 4px white);
}

/*Ocultar contenidos de las categorias*/
.contenido{
  display: none;
}
/*Ocultar el contenido de la información de cada provincia*/
.informacion_provincia{
  display: none;
}
.title_nav{
  font-size: 14px;
  font-family: 'FuenteTitulo',sans-serif;
  margin-right: 0;/*Empuja el title asia la derecha*/
  width: 122px;
  line-height: 20px;
  text-align: center;
}

/*Estilo para el main*/
.main_nav{
  margin-left: 0px;/*Empuja el main asia la derecha*/
  display: flex;
  align-items: center;
}

.Info_nav{
  display: flex;
  align-items: center;
  height: 35px;
  top: 17px;
  position: relative;
  border-radius: 10px;
}

.main_nav ul, .Info_nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main_nav ul li,.Info_nav ul li{
    display: inline-block;
    margin-right: 20px;
}

.main_nav ul li:last-child, .Info_nav ul li:last-child{
    margin-right: 0;
}

.main_nav ul li a, .Info_nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
  
.main_nav ul li a:hover, .Info_nav:hover {
  border-bottom-color: currentcolor;
}

@media (max-width:680px){
  .nav-btn{
    display: flex;
  }

  .nav-links{
    display: none;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 4;
  }

  .nav-checkbox:checked + .nav-btn + .nav-links {
    display: flex;
  }

  .nav-links li {
    margin: 0;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #555;
  }
}

.parrafo1{
  background-size: 3px;
  font-size: 78%;
  text-align: center;
}

.section{
  height: 100vh;
  position: relative;
  /* top: 85%; */
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#section_two{
  background-image: url('Portadas/llama1_portada.jpg');
  /*background-size: 100%;*/
  background-position: bottom;
  background-size: cover;
}

/*Imagen del Zorro*/
.imagen{
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  transition: opacity 2s;
  background-image: url('Portadas/paisaje.jpg');
  height: 91vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*titulo de portada*/
h1#titulo_menu {
  font-family: emoji;
  position: relative;
  font-size: 70%;
  z-index: 1;
  color: black;
  text-align: center;
  letter-spacing: 20px;
  line-height: 1.4;
  filter: drop-shadow(3px 2px 2px black);
}

#titulo_cusco{
  font-family: 'FuenteTitulo2',sans-serif;
  font-size: 50px;
  color: white;
  /*left: 29px;*/
  position: relative;
  /*top: 30px;*/
  filter: drop-shadow(8px 11px 1px black);
  text-align: center;
}

.informacion_one {
  position: relative;
  width: 70%;
  font-size: 20px;
  color: rgb(0, 0, 0);
  filter: drop-shadow(2px 4px 3px black);
  font-family: auto;
  backdrop-filter: blur(9px);
  background-color: #ffffff0d;
  border-radius: 15px;
  -webkit-backdrop-filter:blur(9px);
}
/*.navegacion_inicio*/
.navegacion_inicio{
  width: 100%;
}

.imagen h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.background {
  border-radius: 16px 16px 0 0;
  background: #5f66bb0a;
}
/*bueno*/
  
.base-image {
  display: block;
  max-width: 100%;
  height: auto;
}

/*ajustar el tamaño de la imagen de las imagen de la infor. de cada cada provincia*/
.imagenInformaciones{
  filter: drop-shadow(0px 0px 2px white);
}

img#displayedImage {
  width: 50%;
  border-radius: 24px;
  cursor: pointer;
}

img#displayedImageDanza {
  width: 50%;
  border-radius: 24px;
  cursor: pointer;
}

img#displayedImageCultura {
  width: 50%;
  border-radius: 24px;
  cursor: pointer;
}
/**************************************************/

/*iconos de redes sociales*/
.contentIcono{
  display: flex;
  justify-content: center;
}

.iconoInicio{
  margin: 18px;
  width: 22%;
  filter: drop-shadow(3px 1px 3px rgb(255, 255, 255));
}

.iconoInicio:hover{
  filter: drop-shadow(1px 3px 1px aqua);
}

.iconoFlecha{
  width: 4%;
}

.iconoFlecha:hover{
  filter: drop-shadow(2px 4px 6px rgb(255, 255, 255));
}

 /*Estilos para el contenido del mapa*/
.contenido_mapa{
  position: relative; 
  height: 91vh;
}

.imagen_base {
  width: 100%; /* Ajustar el ancho de la imagen grande según tus necesidades */
  height: auto; /* Para mantener la proporción original de la imagen grande */
  display: block;
  filter: drop-shadow(-22px 0px 0px black) blur(1px) sepia(1);
}

.imagenes_provincia {
  position: relative;
  max-width: 100%;
  height: auto;
  text-align: center;
  top: 1%;
  width: 72%;
  left: 16%;
}

/* Configura el ancho máximo para las imágenes para que se redimensionen proporcionalmente */
.provincia {
  position: absolute;
  width: 10%; /* Establece un ancho máximo relativo al 10% del contenedor principal (ajusta según tus necesidades) */
  height: auto; /* La altura se ajustará automáticamente para mantener la proporción original */
  transition: transform 0.3s; /* Transición suave para el efecto de zoom */
  z-index: 1;
  filter:sepia(1);
  cursor: pointer;
}

/* Agrega una clase para las provincias con zoom activo */
.provincia-zoom {
  z-index: 3; /* Coloca la provincia con zoom por encima de las demás */
}

.provincia:hover {
  transform: scale(1.2); /* Aplicar el efecto de zoom al pasar el cursor sobre la imagen */
  z-index: 3;
  filter: brightness(0.5);
}

#acomayo{
  top: 58%;
  left: 54%;
  width: 6%;
  z-index: 2;
}

#anta{
  top: 48%;
  left: 40%;
  width: 12%;
}

#calca{
  left: 46%;
  top: 31%;
  width: 12%;
  z-index: 2;
}

#canas{
  top: 67%;
  left: 57%;
  width: 11%;
  z-index: 2;
}

#canchis{
  top: 58%;
  left: 59%;
  width: 12%;
}

#chumbivilcas{
  top: 63%;
  left: 45%;
  width: 15%;
}

#cusco{
  top: 52%;
  width: 6%;
  left: 49%;  
  z-index: 2;
}

#espinar{
  top: 77%;
  left: 54%;
  width: 14%;
}

#la_convencion{
  left: 23%;
  top: 3%;
  width: 30%;
}

#paruro{
  top: 56%;
  width: 8%;
  left: 49%;
}

#paucartambo{
  top: 35%;
  left: 53%;
  width: 14%;  
}

#quispicanchi{
  top: 44%;
  left: 54%;
  width: 23%;  
}

#urubamba{
  left: 43%;
  top: 44%;
  width: 9%;  
  z-index: 2;
}

.info_provincia {
  position: absolute;
  top: 12%;
  left: 9%;
  width: 17%;
  border-radius: 13px;
  text-align: center;
}

.danza {
  position: absolute;
  top: 58%;
  left: 68%;
  width: 30%;
  border-radius: 13px;
  text-align: center;
}

.zona_turistica {
  position: absolute;
  top: 58%;
  left: 1%;
  width: 30%;
  border-radius: 13px;
  text-align: center;
}

.cultura {
  position: absolute;
  top: 12%;
  left: 68%;
  width: 30%;
  border-radius: 13px;
  text-align: center;
}

h1.titulo {
  margin: 2px;
  font-size: 22px;
  text-align: center;
  color: #00f7d7;
  filter: drop-shadow(0px 0px 12px);
}

p.parrafo {
  margin: 5px;
  color: #ffffff;
  font-size: 22px;
}

.color-destacado {
  color: #63c2d9; 
  filter: drop-shadow(0px 0px 5px);
}

img.imagen_c {
  width: 100%;
  border-radius: 18px;
  filter: drop-shadow(8px 10px 5px black);
}

article{
  display: flex;
}
/*informacion de zonas turisticas*/
.titulo_zona_turistica{
  transform: rotate(-90deg);
  left: 1px;
  white-space: nowrap;
  position: relative;
  height: 98px;
  top: 99px;
}

.Info{
  left: -39px;
  position: relative;
}

.Imagen_Zona_Turistica{
  width: 40%;
  height: 0%;
  border-radius: 10px;
}

/*musicas*/
.videos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Espacio entre los videos */
  justify-content: center;
  padding-top: 10px;
}

/* Estilos para los iframes de los videos */
.videos-container iframe {
  width: calc(33.33% - 10px); /* Ancho de cada video (3 videos por fila) */
  height: 200px; /* Altura fija o ajusta según tus necesidades */
  border-radius: none;
}

/*carrusel*/
.carousel {
  width: 100vw;
  height: 88vh;
  position: relative;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}

.divInformacion{
  display: none;
}

/*carrusel 2 automatico*/
.carousel-container {
  width: 90vw;
  overflow: hidden;
  backdrop-filter: blur(1px);
  background-color: #ffffff12;
  -webkit-backdrop-filter: blur(3px);
  border-radius: 23px;
}

.slide22 {
  width: 90vw;
  text-align: center;
  color: #fff;
  display: none;
  transition: opacity 4s ease-in-out;
  opacity: 0;
}

.slide22.active {
  display: block;
  opacity: 1;
}

.content {
  padding: 8px;
}

#slide1,
#slide2 {
  background-size: cover;
  background-position: center;
  display: none;
}

#slide1.active,
#slide2.active {
  display: block; /* Muestra la diapositiva activa */
}



@media screen and (max-width: 600px) {
  .slide22 {
    background-size: cover;
    background-position: center;
  }
}